@font-face {
  font-family: "Quicksand"; 
  src: url("/fonts/Quicksand-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Quicksand"; 
  src: url("/fonts/Quicksand-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@font-face {
  font-family: "Quicksand"; 
  src: url("/fonts/Quicksand-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Quicksand"; 
  src: url("/fonts/Quicksand-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

* {
	margin: 0;
	padding: 0;
}

html {
  height: 100%;
}
nav {
  padding: 15px;
  margin: 0;  
  background: #fccb4a;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 11px;
}
.link {
  color: #000000;
  text-decoration-color: #fccb4a;
}

.link:hover {
  background: #fccb4a;
}

ul.navigation a {
  color: #000000;
  text-decoration: none;
}

ul.navigation a:active {
  color: #000000;
}

ul.navigation a:hover {
  position: relative;
  top: -5px;
  
}

.basic_information {
  float: left;
  width: 25%;
}

.more_information {
  float: right;
  width: 75%;
}

main {
  flex: 1;
  padding-bottom: 90px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  font-family: Quicksand, sans-serif;
}

.python {
  background: #fafafa !important;
  font-size: 15px !important;
}

.list_skills {
  list-style: none;
}

.rs-logo {
  height: 30px;
}

.git-logo-name {
  display: flex;
  align-items: center;
}

.git-logo {
  margin-right: 7px;
}

.grid_element_2 {
  justify-self: center;
}

.grid_element_3 {
  justify-self: end;
}